@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GC & Co.</h1>
    <p class="lead"></p>
    
    <p><a href="/Tasks/Index" class="btn btn-primary btn-lg">Task List &raquo;</a></p>
</div>

<form action="Tasks/TaskSearch">
    <input type="text" name="word" id="item" />
    <input type="submit" class="btn btn-primary" value="Search for tasks" />    
</form>

