
@{
    ViewBag.Title = "TasksByUser2";
}

<h2>TasksByUser2</h2>

<table class="table table-bordered">
    <tr>

        <th>Name</th>
        <th>Description</th>
        <th>DueDate</th>
        <th>Complete?</th>

        @for (int i = 0; i < ViewBag.Items.Count; i++)
        {


        <tr>
            <td>@ViewBag.Items[i].Name</td>
            


        </tr>
    }

    </table>

