
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div>
    <form action="Search/TaskSearch">
        <input type="text" name="word" id="item" placeholder="enter word"/>
        <input type="submit" class="btn btn-default" value="Search for tasks" />
    </form>
</div>

<form action="Search/ShowStatus">
    <input type="text" name="status" id="item" placeholder="Enter c or i" />
    <input type="submit" class="btn btn-default" value="Show Completion Status" />
</form>

<form action="Search/FilterTask">
    <input type="text" name="filter" id="item" placeholder="First or Last" />
    <input type="submit" class="btn btn-default" value="Filter by Due Date" />
</form>



