
@{
    ViewBag.Title = "ShowStatus";}



<h2>@ViewBag.Message</h2>

<table class="table table-bordered">
    <tr>

        <th>Owner</th>
        <th>Description</th>


        @for (int i = 0; i < ViewBag.Item.Count; i++)
        {


        <tr>

            <td>@ViewBag.Item[i].User.Name</td>
            <td>@ViewBag.Item[i].Description</td>



        </tr>
    }

    </table>

